@layer base {
  :root {
    /* green */
    --color-primary-100: 223 255 237; /* #DFFFED */
    --color-primary-300: 9 115 72; /* #097348 */
    --color-primary-500: 0 102 0; /* #006600 */

    /* yellow */
    --color-secondary-500: 255 241 12; /* #FFF10C */

    /* black */
    --color-secondary-500: 25 23 23; /* #191717 */
  }
}
